body, button, input {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   line-height: 1.5em;
   color: #333;
}
b, strong, label {
	font-weight: 600;
}
label {
	min-width: 130px;
	float: left;
	text-align: right;
	margin-right: 10px;
	font-weight: normal;
	color: #666;
}

a, a:visited {
	color: #52509d;	
}
a:hover {
	color: #e92c19;
}

.clear {
	clear: both;
}
.submit {
	clear: both;
}

.body {
	font-size: 1.2em;
	line-height: 1.5em;	
}

#header {
	background: #e92c19;
	margin: 10px 0 1em 0;
	border: 1px solid #ccc;
}
#header h2 {
	font-size: 1.7em;
	margin: 0 0 0 0.5em;
	padding: 2em 0 0.5em 0;
	font-weight: 300!important;
}
#header h2 a {
	text-decoration: none;
	color: #fff;
}
#menu {
	text-align: right;
	font-size: 1.4em;
}
#menu ul {
	margin: 0 1em 0 0;
	padding: 0;	
}
#menu li {
	display: inline;
	padding: 0 0 0 1em;
	list-style: none;
}

#footer {
	border-top: 1px solid #ccc;
	padding: 1em 0 2em 0;
	margin: 2em 0 0 0;
	text-align: right;
}
#footer ul {
	margin: 0 1em 0 0;
	padding: 0;	
}
#footer li {
	display: inline;
	list-style: none;
	padding: 0 0 0 1em;
}

.body h1 {
	font-weight: 300!important;
	font-size: 2.2em;
	line-height: 1.2em;
	margin: 0.6em 0 0.5em 0;
}


.definition .metadata {
	width: 280px;
	float: right;
	border: 1px solid #ccc;
	padding: 10px 15px;
}

.dictionary-header .actions, .record-header .actions {
	float: right;
	width: 500px;
	text-align: right;
}
.dictionary-header .actions form, .record-header .actions form {
	display: inline;
}

.definitions ul {
	margin: 0;
	padding: 0;
}
.definitions li {
	list-style: none;
	margin: 1em 0 1.5em 0;
	padding: 0;	
}
.definitions h3 {
	font-weight: 300;
	font-size: 1.5em;
	margin: 0.5em 0 0 0;
}
.definitions .description p {
	margin-bottom: 0.5em;
}
.definitions .information li {
	display: inline;
	padding: 0 2em 0 0;	
}
.definition-title span, .record-title span {
	font-size: 0.6em;	
}

.definition .keyvalue {
	margin: 1em 0;
}

.definition .datasources {
	clear: left;
	margin: 0 0 1em 0;
}
.definition .datasources ul {
	margin: 0;
	padding: 0;	
}
.definition .datasources .actions-add {
	clear: left;
	padding: 0.8em 0 0 0;
	vertical-align: top!important;
}
.definition .datasources .actions-add .dijitButton,
.definition .datasources .actions-add .dijitSelect {
	margin-top: 0;
}
.definition .datasource {
	clear: left;
	padding: 0.7em 0 0 0;
	margin: 0;
	list-style: none;
}
.definition .datasource .datasource-name {
	display: inline;
}
.definition .datasource .datasource-name span {
	font-weight: 300;	
}
.definition .datasource .datasource-conditions strong, 
.definition .datasource .datasource-contacts strong {
	font-weight: 300;
	color: #666;
}
.definition .datasource .dijitButton {
	float: left;
}

.datasource .actions, .datasource .actions form,
.comment .actions, .comment .actions form {
	display: inline;
}
.datasource .actions button,
.comment .actions button {
	display: inline;
	margin: 0;
	padding: 0 0.1em 0 0.6em;
	border: 0;
	background: none;
	color: #52509d;
}
.datasource .actions button:hover,
.comment .actions button:hover {
	text-decoration: underline;
	color: #e92c19;
	cursor: pointer;
}

.comments {
	clear: left;
	margin: 0 0 1em 0;
}
.comments .comment {
	clear: left;
	padding: 0.7em 0 0 0;
}
.comments .comment .detail {
	color: #666;
	display: inline;
}
.comments .actions-add {
	clear: left;
	padding: 0.8em 0 0 0;
}

.recordOptions {
	margin: 0 0 1em 0;
}
.recordOptions ul {
	margin: 0;
	padding: 0;	
}
.recordOptions li {
	float: left;
	padding: 0 0.5em 0 0.5em;
	list-style: none;
}


#filterform {
	clear: both;
	padding: 0.4em 20px 0.2em 20px;
	margin: 1em 0;
	vertical-align: middle;
	background: #eee;
}
#filterform h3, #filterform .filterfield {
	float: left;
	margin: 0;
}
#filterform h3 {
	font-size: 1em;
	line-height: 1.9em;
	font-weight: 600!important;
	margin: 0;
	padding: 0 30px 0 0;	
}
#filterform label {
	line-height: 1.9em;
	min-width: 50px;
	padding-left: 20px;
	font-weight: 300!important;
}

.paginationGrouping, .paginationActions {
	clear: left;	
}
.paginationGrouping p, .paginationActions p {
	float: left;
	margin: 0;
}
.paginationGrouping ul, .paginationActions ul {
	margin: 0;
	padding: 0;
}
.paginationGrouping li, .paginationActions li {
	list-style: none;
	margin: 0;
	padding: 0 0.4em;	
	float: left;
	border-left: 1px solid #ccc;
}
.paginationGrouping li:first-child, .paginationActions li:first-child {
	border-left: none;
}

.dojoxGrid table {
	margin-bottom: 0;
}
.dijitEditor {
	clear: left;
	width: 500px;
	height: 200px;
	border: 1px solid #ccc;
	margin: 5px 0 0 30px;	
}
.dijitDownArrowButton {
	height: 1.5em;
}
.dijitSelect, .dijitToggleButton, .dijitButton, .dijitDropDownButton, .dijitComboButton {
	margin: 0 0.2em 0.2em 0.2em;	
}

.field {
	padding: 0 0 0.9em 0;	
}

.contributefields .checkboxset {
	clear: left;
	margin: 0.3em 30px 0.3em 140px;
}
.contributefields .checkboxset label {
	float: none;
	color: #333;
	padding: 0 0 0 5px	
}
.contributefields .contributefield {
	float: left;
	width: 250px;
}
ul.checkall {
	margin: 0;
	padding: 0;
}
ul.checkall li {
	float: left;
	padding: 0 1em 0 0;
	list-style: none;	
}

#_c_com_sfs_metahive_web_model_DefinitionForm_categories_id .dojoxMultiSelect {
	height: auto;
	overflow: auto;
	overflow-y: auto;	
}

#_c_com_sfs_metahive_web_model_DefinitionForm_name_id .dijitTextBox,
#_c_com_sfs_metahive_web_model_DefinitionForm_examplevalues_id .dijitTextBox {
	width: 420px;	
}
#_c_com_sfs_metahive_web_model_DefinitionForm_name_id input,
#_c_com_sfs_metahive_web_model_DefinitionForm_examplevalues_id input {
	width: 400px;
}
#_c_com_sfs_metahive_web_model_DefinitionForm_name_id .dijitValidationIcon,
#_c_com_sfs_metahive_web_model_DefinitionForm_examplevalues_id .dijitValidationIcon {
	background-position: top right;	
}
#_c_com_sfs_metahive_web_model_DefinitionForm_categories_id label,
#_c_com_sfs_metahive_model_DataSource_pointsOfContact_id label {
	float: none;
	display: block;
	text-align: left;	
}

#_c_com_sfs_metahive_web_model_RecordForm_recordids_id textarea {
	width: 400px;
	height: 300px;
}