body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}


.twoColumn .leftColumn {
	width: 49%;
	float: left;
}
.twoColumn .rightColumn {
	width: 49%;
	float: right;
}

.clear {
	clear: both;	
}

.dojoxGrid table {
	margin-bottom: 0;
}